body {
  text-align: center;
  margin-top: 100px;
}

.userAvatar {
  width: 50px;
  border-radius: 50%;
}

.userList {
  padding: 5px;
}

.userListContainer {
  max-width: 80%;
  margin: auto;
  border-bottom: 1px solid gray;
}

.infoArea {
  margin-top: 30px;
}
