.createRecipeContainer {
  width: 100%;
  margin: auto;
  padding: 20px 100px;
}

.createRecipeText {
  padding-left: 100px;
}

#placeholderRecipeCreateImage {
  border: 3px solid #dddddd;
  border-radius: 3px;
  padding: 5px;
  width: 85%;
  height: auto;
  max-height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
}

#createRecipePhoto {
  display: none;
}
