.recipesContainer {
  display: flex-box;
}

.recipeContainer {
  margin-top: 40px;
  display: flex;
  max-width: 450px;
  align-items: center;
}

.recipeDetails {
  display: flex;
  flex-direction: column;
}

.recipeContent {
}

.recipeCover {
  max-width: 120px;
}

.className {
  width: 300px;
}
