.thumbnail-picture {
  position: relative;
  height: 100px;
  width: 100px;
  margin: 20px;
  padding: 10px;
  border: 2px;
  border-style: solid;
  border-color: darkgray;
  background-color: lightgray;
}

.thumbnail {
  float: left;
}

.thumbnail-username {
  margin-left: 20px;
}

.thumbnail-recipe-name {
  margin-left: 20px;
}