.thumbnail-picture {
    position: relative;
    height: 100px;
    width: 100px;
    margin: 20px;
    padding: 10px;
    border: 2px;
    border-style: solid;
    border-color: darkgray;
    background-color: lightgray;
    border-radius: 5%;
  }
  
  .thumbnail {
    float: left;
    border: 1px;
    border-style: solid;
    border-color: darkgray;
    margin: 10px;
    border-radius: 5%;
  }
  
  div.thumbnail-username {
    margin-left: 20px;
  }
  
  p.thumbnail-username {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  div.thumbnail-recipe-name {
    margin-left: 20px;
    font-size: large;
  }
  
  p.thumbnail-recipe-name {
    margin-top: 10px;
    margin-bottom: 10px;
  }