.thumbnail {
  float: left;
  position: relative;
  /* border: 1px;
  border-style: solid;
  border-color: darkgray;
  border-radius: 5%; */
  margin: 1%;
  margin-top: 20px;
  margin-bottom: 40px;
  width: 30%;
  padding-top: 40%;
  /* min-width: 300px; */
}

.likes {
  color:deeppink;
  position: absolute;
  top: 4%;
  right: 6%;
  opacity: 0;
  transition: .5s ease;
}

div.thumbnail-picture {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 5%;
  margin-bottom: 40%;
  border: 1px;
  border-style: solid;
  border-color: darkgray;
  border-radius: 5%;
  transition: .5s ease;
  
}

div.thumbnail-picture:hover img.thumbnail-picture {
  opacity: 0.3;
  border-color: black;
}

div.thumbnail-picture:hover .likes{
  opacity: 1;
}

img.thumbnail-picture {
  border-radius: 5%;
  min-height: 100%;
  min-width: 100%;
  object-fit: none;
  object-position: center;
  transition: .5s ease;
}

div.thumbnail-recipe-name {
  margin-left: 5%;
  margin-right: 5%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 5%;
  margin-top: 100%;
}

p.thumbnail-recipe-name {
  margin-top: 0%;
  padding: 3%;
  background-color: lavender;
  text-align: left;
  font-size: 125%;
  color: blue;
  font-family: Arial, Helvetica, sans-serif;
}

div.thumbnail-username {
  margin-left: 5%;
  margin-right: 5%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 5%;
  margin-top: 110%;
}

p.thumbnail-username {
  padding: 1% 2% 1% 2%;
  background-color: lavender;
  text-align: left;
  font-size: 100%;
  color: blue;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.text-link {
  color: inherit;
  text-decoration: inherit;
  font-family: inherit;
}
