.thumbnail {
  float: left;
  position: relative;
  margin: 1%;
  margin-top: 0px;
  margin-bottom: 40px;
  width: 30%;
  padding-top: 40%;
}

.likes {
  color: deeppink;
  position: absolute;
  top: 4%;
  right: 6%;
  opacity: 0;
  transition: 0.5s ease;
}

div.thumbnail-picture {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 5%;
  margin-bottom: 40%;
  border: 1px;
  border-style: solid;
  border-color: darkgray;
  border-radius: 5%;
  transition: 0.5s ease;
}

.thumbnail-hover {
  position: absolute;
  background-color: white;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 5%;
  opacity: 0;
  transition: 0.5s ease;
}

.thumbnail-picture:hover .thumbnail-hover {
  opacity: 0.5;
}

.thumbnail-likes {
  position: absolute;
  width: 20%;
  margin: 40%;
  opacity: 0;
  transition: 0.5s ease;
  text-align: center;
}

.thumbnail-picture:hover .thumbnail-likes {
  opacity: 1;
}

img.thumbnail-picture {
  border-radius: 5%;
  min-height: 100%;
  min-width: 100%;
  object-fit: none;
  object-position: center;
  transition: 0.5s ease;
  max-width: 30%;
  max-height: 30%;
}

div.thumbnail-recipe-name {
  margin-left: 5%;
  margin-right: 5%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 5%;
  margin-top: 100%;
}

p.thumbnail-recipe-name {
  margin-top: 0%;
  padding: 3%;
  background-color: #ffebee;
  text-align: left;
  font-size: x-large;
  color: #f50057;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.thumbnail-username {
  margin-left: 5%;
  margin-right: 5%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 5%;
  margin-top: 110%;
}

p.thumbnail-username {
  padding: 2%;
  background-color: #ffebee;
  text-align: left;
  font-size: large;
  color: #f50057;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.thumbnail-buttons {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin-top: 130%;
}

.text-link {
  color: inherit;
  text-decoration: inherit;
  font-family: inherit;
}
