.feed {
  margin-top: 100px;
  margin-left: 10%;
  margin-right: 10%;
  /* padding-left: 10%; */
}

.feed-message {
  font-size: 200%;
  color: #f50057;
  text-align: left;
  margin-left: 5%;
}

.feed-side-bar {
  float: left;
  height: 100vh;
}
